db:
  username: postgres
  password: password
  driver: PostgresDriver
  url: postgres:5432
  hosts: localhost,127.0.0.1
  properties:
    first: 123
    second: 456
    third.value: Third
  pool:
    size: 12
    timeout: 10
  pools:
    - size: 1
      timeout: 1
    - size: 2
      timeout: 2
    - size: 3
      timeout: 3
      
spring.profiles.active: qa, local

logging:
  level:
    root: info
    org:
      springframework:
        jdbc:
          core: TRACE
  file:
    name: artem.log
    path: /

spring:
  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp
    format:
      date: iso
  datasource:
    url: jdbc:postgresql://localhost:5433/postgres
    username: postgres
    password: pass
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        show_sql: true
        batch_size: 50
        fetch_size: 50
        format_sql: true
        hbm2ddl.auto: validate
    open-in-view: false
  security:
    oauth2:
      client:
        registration:
          google:
            clientId: ${oauth2.google.clientId}
            clientSecret: ${oauth2.google.clientSecret}
            redirectUri: ${oauth2.google.redirectUri}
            scope: ${oauth2.google.scope}
  messages:
    basename: messages
    fallback-to-system-locale: false


springdoc:
  swagger-ui:
    oauth:
      client-id: ${oauth2.google.clientId}
      client-secret: ${oauth2.google.clientSecret}
      scopes: ${oauth2.google.scope}
    oauth2-redirect-url: ${swagger.oauth.redirect-utl}

openApiConfig:
  flows:
    authorizationCode:
      authorizationUrl: ${openApiConfiguration.flows.authorizationCode.authorizationUrl}
      tokenUrl: ${openApiConfiguration.flows.authorizationCode.tokenUrl}
